<% title 'Your account' %>
<% page_sm %>
<h1>Your account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= avatar_for(current_user, 128) %>

  <div class="field">
    <%= f.label :avatar %>
    <span class="muted">(square image)</span>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: 'email' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <span class="muted">(leave blank if you don't want to change it)</span>
    <%= f.password_field :password, autocomplete: 'new-password' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: 'bold' %> <span class="muted">(we need your current password to confirm your changes)</span>
    <%= f.password_field :current_password, autocomplete: 'current-password' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<h3>Help & support</h3>
<p class="muted">
  If you experience any issues or need help using Dash, please send us <%= mail_to 'dash@zane.sh', 'an email' %>.
</p>
