<% title "Invitation to manage #{@invite.event.name}" %>
<% page_sm %>
<h1>
  You’re invited to manage <%= @invite.event.name %><% unless @invite.sender.admin? %> by <%= @invite.sender.name %><% end %>.
</h1>
<p class="mb3 muted">
  Would you like to accept or decline? (this is intended for <%= @invite.email %>)
</p>

<%= 
  link_to 'Accept invitation', 
  event_organizer_position_invite_accept_path(@event, @invite), 
  method: :post, 
  class: 'btn btn--lg mr1'
%>
<%=
  link_to 'Reject', 
  event_organizer_position_invite_reject_path(@event, @invite), 
  method: :post, 
  data: { confirm: 'Are you sure?' }, 
  class: 'btn btn--destroy'
%>
