<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Admin Dashboard', '/admin' %>
</div>

<h1>All Users</h1>
<h3 class="a-lil-bottom-margin">I sure hope no malicious actors are viewing this right now..</h3>

<% if @users.empty? %>
  <h3>Boo-hoo, no users. Wait, how is that even possible? You’re here, right? Right?</h3>
<% else %>
  <h3 class="no-margin">Total Users: <%= @users.count %></h3>
  <h3 class="no-margin">New this week: <%= @users_new_week_count %></h3>
  <h3 class="no-margin">All active users: <%= @users_active_count %></h3>
  <h2>Users:</h2>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.name %>, <%= link_to user.email, "mailto:#{user.email}" %>
        <br/>Signed up: <%= local_time(user.created_at) %>
        <% if user.admin? %>
          <br/><%= user.name %> is an <span style="color: red;">admin</span>!
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
