<% title 'All Users' %>
<div class="breadcrumbs">
  <%= link_to 'Grand Admin Station', root_url %>
</div>

<h1>All Users</h1>

<% if @users.empty? %>
  <h3>No users. Wait, how is that even possible? You’re here, right? Right?</h3>
<% else %>
  <p class="h2 bold m0">Total Users: <%= @users.count %></p>
  <p class="h2 bold m0">New this week: <%= @users_new_week_count %></p>
  <p class="h2 bold m0">All active users: <%= @users_active_count %></p>
  <h2>Admins</h2>
  <ul class="list list--row">
    <% @users.admins.each do |user| %>
      <li>
        <%= avatar_for user, 48 %>
        <div class="ml2">
          <strong><%= user.name %></strong>—<%= link_to user.email, "mailto:#{user.email}" %>
          <br/>Admin at: <%= format_time(user.admin_at) %>
        </div>
      </li>
    <% end %>
  </ul>
  <h2>Users</h2>
  <ul class="list list--row">
    <% @users.organizers.each do |user| %>
      <li>
        <%= avatar_for user, 48 %>
        <div class="ml2">
          <strong><%= user.name %></strong>—<%= link_to user.email, "mailto:#{user.email}" %>
          <br/>Signed up: <%= format_time(user.created_at) %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
