<% title 'Reset your password' %>
<% page_sm %>
<div class="breadcrumbs">
  <%= link_to 'Sign in', new_user_session_path %>
</div>

<h1>Reset your password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { behavior: 'remember_email' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
  </div>

  <div class="actions">
    <%= f.submit 'Email me instructions', class: 'mb2' %>
  </div>
<% end %>

<%= link_to 'Sign in', new_session_path(resource_name), class: 'muted' %>