<%= form_with(model: attendee, url: url, local: true) do |form| %>
  <% if attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
        <% attendee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% @event.fields.each do |field| %>
    <div class="a-lil-bottom-margin">
      <label class="field">
        <%= field.label %>
        <%= custom_field field, form, field.kind == 'multiselect' ? field.options : @values ? @values[field.name] : '' %>
      </label>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit attendee.new_record? ? 'Create attendee' : 'Save changes' %>
  </div>
<% end %>
