<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %> › <%= link_to "#{@attendee.first_name} #{@attendee.last_name}", event_attendee_path(@event, @attendee) %> › <%= link_to 'Edit Attendee', '#'%>
</div>

<h1><%= "#{@event.name}: #{@attendee.first_name} #{@attendee.last_name}" %></h1>

<%= render 'form', attendee: @attendee, url: event_attendee_path(@event, @attendee) %>
