<% title "Import attendees on #{@event.name}" %>
<% page_sm %>
<div class="breadcrumbs">
  <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path(@event) %>
</div>

<h1 class="heading">
  Import attendees
</h1>

<h2>Temporarily disabled</h1>
<p class="muted">
  This feature is temporarily disabled for bug fixes.
</p>

<!--
<h2>Import a CSV file</h2>
<%= form_tag import_csv_event_attendees_path, method: :post, multipart: true do %>
  <p class="muted">
    Ensure that all column names in the CSV headings are the correct names from the
    <%= link_to 'form builder', event_attendee_fields_path(@event) %> (i.e. <code>first_name</code>).
  </p>

  <div class="field">
    <%= file_field_tag :file, required: true, accept: '.csv' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Import CSV' %>
  </div>
<% end %>
-->