<% title "Attendees on #{@event.name}" %>
<%# @include_react = true %>
<div class="breadcrumbs">
  <%= link_to @event.name, @event %>
</div>

<h1 class="heading">
  <div class="flex items-center">
    Attendees
  </div>
  <%= link_to 'Add an attendee', new_event_attendee_path, class: 'btn' %>
</h1>
<ul class="list list--border-always">
  <li><%= link_to 'Set up registration & form', event_attendee_fields_path(@event) %></li>
  <li><%= link_to 'API access', api_event_attendee_fields_path(@event) %></li>
</ul>

<details>
  <summary class="h3 my2 bold">Check-in stats</summary>
  <p class="muted no-margin">
    <%= pluralize @attendees.checked_in_total, 'attendee' %> checked in, <%= pluralize @attendees.checked_in_and_out_total, 'attendee' %> checked in and out.
  </p>
</details>

<h2 class="heading" style="border-bottom: 0;">
  All attendees <span class="badge"><%= @attendees.count %></span>
  <%= link_to 'Import', import_event_attendees_path(@event), class: 'btn' %>
  <%= link_to 'Export', export_event_attendees_path(@event), class: 'btn' %>
</h2>

<% if @attendees.empty? %>
  <p class="muted">There are no attendees.</p>
<% else %>
  <%= form_tag(event_attendees_path(@event), method: 'get', id: 'search-form') do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search #{pluralize @attendees.count, 'attendee'}…", class: 'full-width' %>
  <% end %>
  <%= content_tag :ul, class: "list list--row list--border-always #{@attendees.count == 1 ? '' : 'list--dual'}" do %>
    <% @attendees.each do |attendee| %>
      <%= link_to event_attendee_path(@event, attendee) do %>
        <li>
          <%= avatar_for attendee, 48 %>
          <div class="ml2">
            <span class="bold block">
              <%= attendee.name %>
              <% if attendee.checked_in? %>
                <%= 
                  content_tag :span,
                  "Checked in#{attendee.both? ? ' & out' : ''}",
                  class: attendee.both? ? 'badge bg-success' : 'badge bg-info' 
                %>
              <% end %>
            </span>
            <span class="muted">
              <%= attendee.email %>
            </span>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%# react_component 'Attendees', props: { attendees: @attendees.json, path: event_attendees_path(@event) } %>
