<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %>
</div>

<h1 class="heading">
  Attendees <span class="badge"><%= @attendees.count %></span>
  <%= link_to 'Add an attendee', new_event_attendee_path, class: 'btn bg-success' %>
</h1>
<% if @attendees.empty? %>
  <p class="muted no-margin">There are no attendees.</p>
<% else %>
  <h2 class="heading">
    All attendees
    <%= link_to 'Export as CSV', event_attendees_path(format: :csv), class: 'btn bg-info' %>
  </h2>
  <ul>
    <% @attendees.each do |attendee| %>
      <li><%= link_to "#{attendee.first_name} #{attendee.last_name}", event_attendee_path(@event, attendee) %></li>
    <% end %>
  </ul>
<% end %>
