<% title "Attendees on #{@event.name}" %>
<% @include_react = true %>
<div class="breadcrumbs">
  <%= link_to @event.name, @event %>
</div>

<h1 class="heading">
  <div class="flex items-center">
    Attendees
  </div>
  <%= link_to 'Add an attendee', new_event_attendee_path, class: 'btn' %>
</h1>
<ul class="list list--border-always">
  <li><%= link_to 'Set up registration & form', event_attendee_fields_path(@event) %></li>
  <li><%= link_to 'API access', api_event_attendee_fields_path(@event) %></li>
</ul>

<details>
  <summary class="h3 my2 bold">Check-in Stats</summary>
  <p class="muted no-margin">
    <%= pluralize @attendees.checked_in_total, 'attendee' %> checked in, <%= pluralize @attendees.checked_in_and_out_total, 'attendee' %> checked in and out.
  </p>
</details>

<h2 class="heading" style="border-bottom: 0;">
    All attendees <span class="badge"><%= @attendees.count %></span>
  <%= link_to 'Import', import_event_attendees_path(@event), class: 'btn' %>
  <%= link_to 'Export', event_attendees_path(format: :csv), class: 'btn' %>
</h2>
<%= react_component 'Attendees', props: { attendees: @attendees.json, path: event_attendees_path(@event) } %>
