<% title "Attendee #{@attendee.name} on #{@event.name}" %>
<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %>
</div>

<h1 class="heading">
  <img class="profile-img" style="margin-right: 1rem;" src=<%= avatar_url(@attendee.email, 36) %> />
  <%= @attendee.name %>
  <%= @attendee.checked_in? ? 
    (link_to 'Check out', check_out_event_attendees_path(@event, @attendee), method: :post, class: 'btn bg-success')
    : (link_to 'Check in', check_in_event_attendees_path(@event, @attendee), method: :post, class: 'btn bg-success') 
  %>
  <%= link_to 'Edit', edit_event_attendee_path(@event, @attendee), class: 'btn bg-info' %>
  <%= link_to 'Delete', event_attendee_path(@event, @attendee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--destroy' %>
</h1>

<article class="details">
  <p>
    <strong>First name</strong>
    <%= @attendee.first_name %>
  </p>
  <p>
    <strong>Last name</strong>
    <%= @attendee.last_name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= mail_to @attendee.email %>
  </p>
  <p>
    <strong>Registered at</strong>
    <span style="white-space: pre-wrap;"><%= format_time(@attendee.created_at) %></span>
  </p>
  <p>
    <strong>Notes</strong>
    <span style="white-space: pre-wrap;"><%= @attendee.note %></span>
  </p>
  <% @attendee_fields.each do |field| %>
    <p>
      <%= content_tag :strong, field.label %>
      <%= content_tag :span, 
        @attendee.field_values[field.name], 
        class: field.kind == 'multiline' ? 'multi-line' : ''
      %>
    </p>
  <% end %>
</article>
