<% title "Attendee #{@attendee.name} on #{@event.name}" %>
<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %>
</div>

<h1 class="heading">
  <img class="profile-img" style="margin-right: 1rem;" src=<%= avatar_url(@attendee.email, 36) %> />
  <%= @attendee.name %>
  <% if @attendee.checked_in? %>
    <%= 
      content_tag :span,
      "Checked in#{@attendee.both? ? ' & out' : ''}",
      class: @attendee.both? ? 'badge bg-success' : 'badge bg-info' 
    %>
  <% end %>
  <%= link_to 'Edit', edit_event_attendee_path(@event, @attendee), class: 'btn bg-info' %>
  <%= link_to 'Delete', event_attendee_path(@event, @attendee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--destroy' %>
</h1>

<article class="details">
  <p>
    <strong>First name</strong>
    <%= @attendee.first_name %>
  </p>
  <p>
    <strong>Last name</strong>
    <%= @attendee.last_name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= mail_to @attendee.email %>
  </p>
  <p>
    <strong>Registered at</strong>
    <%= format_time(@attendee.created_at) %>
  </p>
  <% if @attendee.checked_in? %>
    <p>
      <strong>Checked in</strong>
      <span>
        <%= "Checked in by #{@attendee.checked_in_by.name} at " %><%= format_time @attendee.checked_in_at %>
      </span>
    </p>

    <% if @attendee.checked_out? %>
      <p>
        <strong>Checked out</strong>
        <span>
          <%= "Checked out by #{@attendee.checked_out_by.name} at " %><%= format_time @attendee.checked_out_at %>
        </span>
      </p>
    <% end %>
  <% end %>
  <% unless @attendee.checked_in? %>
    <p>
      <strong>Checked in</strong>
      No
    </p>
  <% end %>
  <p>
    <strong>Notes</strong>
    <span style="white-space: pre-wrap;"><%= @attendee.note %></span>
  </p>
  <% @attendee_fields.each do |field| %>
    <p>
      <%= content_tag :strong, field.label %>
      <%= content_tag :span, 
        @attendee.field_values[field.name], 
        class: field.kind == 'multiline' ? 'multi-line' : ''
      %>
    </p>
  <% end %>
</article>

<% unless (@attendee.checked_in? && !@attendee.checked_out?) %>
  <h2>Check in <% if @attendee.both? %>again<% end %></h2>
  <p class="muted">
    <% if @attendee.both? %>
      This attendee has already been checked in and out.
      You can check them out again.
    <% else %>
      Checking in <strong><%= @attendee.name %></strong> at <strong><%= format_time Time.now %></strong> by <strong><%= current_user.name %></strong>.
    <% end %>
  </p>
  <%= link_to 'Check in', check_in_event_attendees_path(@event, @attendee), method: :post, class: 'btn bg-info' %>
<% end %>
<% if (@attendee.checked_in? && !@attendee.checked_out?) %>
  <h2>Check out</h2>
  <p class="muted">Checking back out <strong><%= @attendee.name %></strong> at <strong><%= format_time Time.now %></strong> by <strong><%= current_user.name %><strong>.</p>
  <%= link_to 'Check out', check_out_event_attendees_path(@event, @attendee), method: :post, class: 'btn bg-success' %>
<% end %>
