<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %>
</div>

<h1 class="heading">
  <%= @attendee.name %>
  <%= link_to 'Edit', edit_event_attendee_path(@event, @attendee), class: 'btn bg-info' %>
  <%= link_to 'Delete', event_attendee_path(@event, @attendee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--destroy' %>
</h1>

<article class="details">
  <p>
    <strong>First name</strong>
    <%= @attendee.first_name %>
  </p>
  <p>
    <strong>Last name</strong>
    <%= @attendee.last_name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= mail_to @attendee.email %>
  </p>
  <p>
    <strong>Notes</strong>
    <%= @attendee.note %>
  </p>
  <% @attendee_fields.each do |field| %>
    <p>
      <%= content_tag :strong, field.label %>
      <%# field.value.content %>
    </p>
  <% end %>
</article>
