<% title "Attendee #{@attendee.name} on #{@event.name}" %>
<% page_md %>
<div class="breadcrumbs">
  <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %>
</div>

<h1 class="heading">
  <%= avatar_for(@attendee, 36) %>
  <span class="ml2"><%= @attendee.name %></span>
  <% if @attendee.checked_in? %>
    <%= 
      content_tag :span,
      "Checked in#{@attendee.both? ? ' & out' : ''}",
      class: @attendee.both? ? 'badge bg-success' : 'badge bg-info' 
    %>
  <% end %>
  <%= link_to 'Edit', edit_event_attendee_path(@event, @attendee), class: 'btn' %>
  <%= link_to 'Delete', event_attendee_path(@event, @attendee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-destroy' %>
</h1>

<article class="details">
  <p>
    <strong>First name</strong>
    <%= @attendee.first_name %>
  </p>
  <p>
    <strong>Last name</strong>
    <%= @attendee.last_name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= mail_to @attendee.email %>
  </p>
  <p>
    <strong>Registered</strong>
    <%= format_time(@attendee.created_at) %>
  </p>
  <% if @attendee.checked_in? %>
    <p>
      <strong>Checked in</strong>
      <span>
        <%= "Checked in by #{@attendee.checked_in_by.name} at " %><%= format_time @attendee.checked_in_at %>
      </span>
    </p>

    <% if @attendee.checked_out? %>
      <p>
        <strong>Checked out</strong>
        <span>
          <%= "Checked out by #{@attendee.checked_out_by.name} at " %><%= format_time @attendee.checked_out_at %>
        </span>
      </p>
    <% end %>
  <% end %>
  <% unless @attendee.checked_in? %>
    <p>
      <strong>Checked in</strong>
      No
    </p>
  <% end %>

  <% if @event.waiver.enabled? %>
    <p>
      <strong>Waiver</strong>
      <span>
        <%= link_to 'Download', event_attendee_path(@event, @attendee, format: :pdf) %>
        <% if @attendee&.attendee_waiver&.unsigned? %>
          <br/><%= link_to 'Upload signed waiver', event_attendee_waiver_path(@event, @attendee.attendee_waiver, access_token: @attendee.attendee_waiver.access_token) %>
        <% end %>
        <% if @attendee&.attendee_waiver&.signed? %>
          <br/><%= link_to 'View signed waiver', @attendee.attendee_waiver.file.service_url, target: '_blank' %>
        <% end %>
      </span>
    </p>
  <% end %>

  <% @attendee_fields.each do |field| %>
    <p>
      <%= content_tag :strong, field.label %>
      <%= content_tag :span, 
        @attendee.field_values[field.name], 
        class: field.kind == 'multiline' ? 'multi-line' : ''
      %>
    </p>
  <% end %>
</article>

<div class="mb3">
  <% unless (@attendee.checked_in? && !@attendee.checked_out?) %>
    <h2>Check in <% if @attendee.both? %>again<% end %></h2>
    <p class="muted">
      <% if @attendee.both? %>
        This attendee has already been checked in and out.
        You’re about to check them in again.
      <% else %>
        You’re about to check in <strong><%= @attendee.name %></strong> at <strong><%= format_time Time.now %></strong> as <strong><%= current_user.name %></strong>.
      <% end %>
    </p>
    <%= link_to 'Check in', check_in_event_attendees_path(@event, @attendee), method: :post, class: 'btn' %>
  <% end %>
  <% if (@attendee.checked_in? && !@attendee.checked_out?) %>
    <h2>Check out</h2>
    <p class="muted">You’re about to check back out <strong><%= @attendee.name %></strong> at <strong><%= format_time Time.now %></strong> as <strong><%= current_user.name %><strong>.</p>
    <%= link_to 'Check out', check_out_event_attendees_path(@event, @attendee), method: :post, class: 'btn' %>
  <% end %>
  <% if @attendee.checked_in? %>
    <%= link_to 'Clear status', reset_status_event_attendees_path(@event, @attendee), method: :post, data: { confirm: 'This will completely reset the check-in & check-out times of this attendee. Are you sure you want to do this?' }, class: 'btn bg-destroy' %>
  <% end %>
</div>
