<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_date   %>
    <%# Time.use_zone("Pacific Time (US & Canada)") do %>
      <%= form.datetime_select :start_date, ampm: true %> UTC
    <%# end %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%# Time.use_zone("Pacific Time (US & Canada)") do %>
      <%= form.datetime_select :end_date, ampm: true %> UTC
    <%# end %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location %>
  </div>

  <div class="field">
    <%= form.label :permitted_domains %>
    <p class="slate no-margin">
      For the <%= link_to 'attendee API access', "#{event_attendees_path(@event)}#api-access" %>, you can choose which domains are allowed to submit attendees.
      <br/>If you leave this field blank (default), requests from any domain are accepted.
      <br/>Separate multiple domains with commas and no space. Do not include trailing slashes.
    </p>
    <%= form.text_area :permitted_domains %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
