<%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Edit Event', '#' %>
<h1><%= @event.name %></h1>

<%= render 'form', event: @event %>