<div class="breadcrumbs">
  <%= link_to 'Home', root_url %>
</div>

<% if @invites.any? %>
  <h1>
    Invitations
    <br/><h3 class="no-margin">You have <%= pluralize @invites.count, 'pending invitation' %>.</h3>
  </h1>
  <ul>
    <% @invites.each do |invite| %>
      <li><%= link_to invite.event.name, event_organizer_position_invite_path(invite.event, invite) %></li>
    <% end %>
  </ul>
<% end %>

<h1 class="heading">
  Events 
  <% if current_user.admin? %>
    <span class="muted" style="margin-left: 0.5rem;">(all)</span>
    <%= link_to 'New Event', new_event_path, class: 'btn bg-success' %>
  <% end %>
</h1>
<% if @events.empty? && @invites.empty? %>
  <h2 class="muted">No events…yet.</h2>
<% elsif @events %>
  <ul class="list">
    <% @events.each do |event| %>
      <li><%= link_to event.name, event %></h3></li>
    <% end %>
  </ul>
<% end %>

