<% title "#{@event.name}" %>

<% cache [@event, 'header'] do %>
  <div class="dropdown action-sheet">
    <div class="dropdown__btn" data-behavior="dropdown_trigger" aria-expanded="false">
      <div class="btn btn--icon"><%= inline_svg 'action-sheet.svg', { width: 24 } %></div>
    </div>
    <ul class="dropdown__content">
      <li><%= link_to 'Event settings', edit_event_path(@event) %></li>
      <li><%= link_to 'Team members', new_event_organizer_position_invite_path(@event) %></li>
      <li><%= link_to 'Setup registration', event_attendee_fields_path(@event) %></li>
      <li><%= link_to 'Configure webhooks', event_webhooks_path(@event) %></li>
      <% if current_user.admin? %>
        <li><%= link_to 'Delete event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'error' %></li>
      <% end %>
    </ul>
  </div>

  <h1 class="center mb0" style="font-weight: 900;"><%= @event.name %></h1>
  <p class="slate center h3 my0 info">
    <%= @event.city %> — <%= event_length(@event).html_safe %>
  </p>

  <div class="flex justify-center">
    <ul class="flex flex-wrap list-reset">
      <% @invites.accepted[0 ... 5].each do |invite| %>
        <li>
          <div class="mr1" title=<%= invite.user.name %>>
            <%= avatar_for invite.user, 40 %>
          </div>
        </li>
      <% end %>
      <% if @invites.accepted.count > 5 %>
        <li>
          <%= link_to "+#{@invites.accepted.count - 5}", new_event_organizer_position_invite_path(@event), class: 'btn btn--icon mr1', style: 'width: 40px;height:40px;' %>
        </li>
      <% end %>
      <li>
        <%= link_to new_event_organizer_position_invite_path(@event), class: 'btn btn--icon' do %>
          <%= inline_svg 'edit.svg', { width: 16 } %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>

<h3 class="m0">Attendees</h3>
<div class="flex attendee-stats-container">
  <div class="sm-col-6">
    <% cache [@event, 'attendees_chart'] do %>
      <%= line_chart @attendees.unscope(:order).group_by_week(:created_at).count, height: '14rem' %>
    <% end %>
  </div>
  <div class="sm-col-6 ml2 attendee-stats">
    <div>
      <%= content_tag :p, @attendees.count, class: 'stat-value primary m0' %>
      <%= content_tag :p, 'Total attendees', class: 'stat-label m0'%>
    </div>
    <div>
      <%=
        content_tag :p,
        "+#{@attendees_new_week_count}",
        class: "stat-value m0 #{@attendees_new_week_count < 1 ? 'error' : 'success'}" 
      %>
      <%= content_tag :p, 'This week', class: 'stat-label m0'%>
    </div>
    <div class="attendee-stats-btn">
      <%= link_to 'See all »', event_attendees_path(@event), class: 'btn' %>
    </div>
  </div>
</div>

<ul class="list list--row">
  <%= link_to event_hardwares_path(@event) do %>
    <li class="flex items-center mt2">
      Hardware<span class="badge"><%= @event.hardwares.count %></span>
    </li>
  <% end %>
  <%= link_to event_waivers_path(@event) do %>
    <li class="flex items-center">
      <%= @event.waiver.enabled? ? 'Waiver' : 'Add a Waiver' %>
    </li>
  <% end %>
</ul>
