<% title @event.name %>

<h1 class="center mb0" style="font-weight: 900;"><%= @event.name %></h1>
<p class="slate center h3 my0 info">
  <%= @event.city %> — <%= event_length(@event).html_safe %>
</p>

<div class="flex justify-center">
  <ul class="flex list-reset">
    <% @invites.accepted.each do |invite| %>
      <li>
        <div class="mr1" title=<%= invite.user.name %>>
          <%= avatar_for invite.user, 48 %>
        </div>
      </li>
    <% end %>
    <li>
      <%= link_to new_event_organizer_position_invite_path(@event), class: 'btn btn--icon' do %>
        <%= inline_svg 'edit.svg', { width: 32 } %>
      <% end %>
    </li>
  </ul>
</div>


<h3 class="m0">Attendees</h3>
<div class="flex attendee-stats-container">
  <div class="sm-col-6">
    <%= line_chart @attendees.unscope(:order).group_by_week(:created_at).count, height: '14rem' %>
  </div>
  <div class="sm-col-6 ml2 attendee-stats">
    <div>
      <%= content_tag :p, @attendees.count, class: 'stat-value primary m0' %>
      <%= content_tag :p, 'Total attendees', class: 'stat-label m0'%>
    </div>
    <div>
      <%= content_tag :p, "+#{@attendees_new_week_count}", class: 'stat-value success m0' %>
      <%= content_tag :p, 'This week', class: 'stat-label m0'%>
    </div>
    <div class="attendee-stats-btn">
      <%= link_to 'See all »', event_attendees_path(@event), class: 'btn' %>
    </div>
  </div>
</div>

<ul class="list list--row">
  <%= link_to event_hardwares_path(@event) do %>
    <li class="flex items-center mt2">
      Hardware<span class="badge"><%= @event.hardwares.count %></span>
    </li>
  <% end %>
</ul>

<br/>
<div class="flex justify-center">
  <%= link_to 'Settings', edit_event_path(@event), class: 'btn mr1' %>
  <% if current_user.admin? %>
    <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--destroy' %>
  <% end %>
</div>
