<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, '#'%>
</div>

<h1><%= @event.name %></h1>
<h3>Starts at: <%= local_time(@event.start_date) %></h3>
<h3>Ends at: <%= local_time(@event.end_date) %></h3>
<h4 style="white-space: pre-line">
  Takes place at:
  <%= link_to @event.location, "https://www.google.com/maps?q=#{@event.location}", target: '_blank', rel: 'noopen noreferrer' %>
</h4>

<h3>Team Member Invitations</h3>
<%= link_to 'Invite team member', new_event_organizer_position_invite_path(@event) %>
<% if @invites %>
  <ul>
    <% @invites.each do |invite| %>
      <li>
        <b>
          <% if invite.accepted_at %>
            ACCEPTED
          <% elsif invite.rejected_at %>
            REJECTED
          <% else %>
            PENDING
          <% end %>
        </b>
        <%= invite.email %>, sent by <%= invite.sender.name %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit event details', edit_event_path(@event) %>
<% if current_user.admin? %>
  <%= link_to 'Delete event', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Attendees', event_attendees_path(@event) %>
