<%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, '#'%>

<h1><%= @event.name %></h1>
<h3>Starts at: <%= local_time(@event.startDate) %></h3>
<h3>Ends at: <%= local_time(@event.endDate) %></h3>
<h4 style="white-space: pre-line">
  Takes place at:
  <%= link_to @event.location, "https://www.google.com/maps?q=#{@event.location}", target: '_blank', rel: 'noopen noreferrer' %>
</h4>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Delete event', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Attendees', "/events/#{@event.slug}/attendees" %>