<% if user_signed_in? %>
  <% title 'Home' %>
  <h1>H&M</h1>
  <h3 class="a-lil-bottom-margin">✨ A next-gen hackathon management system</h3>
  <h4 class="a-lil-bottom-margin">
    👋 Welcome, <%= current_user.name %>. You’re doing great.
    <% if current_user.admin? %>
      (& you’re an <span class="primary">admin</span>)
    <% end %>
  </h4>
  <p class="slate">(Please note: <u>H&M</u> is in no way the final name. Consider it a codename.)</p>

  <% if @invites.any? %>
    <h2>
      Invitations
    </h2>
    <p class="a-lil-bottom-margin slate">You have <%= pluralize @invites.count, 'pending invitation' %>.</p>
    <ul class="list list--border-top">
      <% @invites.each do |invite| %>
        <li><%= link_to invite.event.name, event_organizer_position_invite_path(invite.event, invite) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @events.any? || @invites.empty? %>
    <h2 class="heading">
      Events 
      <% if current_user.admin? %>
        <span class="muted" style="margin-left: 0.5rem;">(all)</span>
        <%= link_to 'New Event', new_event_path, class: 'btn bg-success' %>
      <% end %>
    </h2>
    <% if @events.empty? %>
      <p class="muted">There are no events.</p>
    <% else %>
      <ul class="list">
        <% @events.each do |event| %>
          <li><%= link_to event.name, event %></h3></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% else %>
  <h1>There’s more to see…</h1>
  <article>
    <%= link_to 'Sign in', new_user_session_path, class: 'btn bg-success' %>
  </article>
<% end %>
