<% title 'Home' %>
<% page_sm %>

<h1 class="title">Dash</h1>
<p class="muted">(<u>Dash</u> is in no way the final name. <strong><%= link_to 'Name suggestions welcome', 'https://goo.gl/forms/Rcq48KDHpexpZyyF2', target: '_blank' %></strong>.)</p>

<% if @invites.any? %>
  <h2>
    Invitations
  </h2>
  <p class="a-lil-bottom-margin muted">You have <%= pluralize @invites.count, 'pending invitation' %>.</p>
  <ul class="list list--border-top">
    <% @invites.each do |invite| %>
      <li><%= link_to invite.event.name, event_organizer_position_invite_path(invite.event, invite) %></li>
    <% end %>
  </ul>
<% end %>
<% if @events.any? %>
  <h2>
    Your events
  </h2>
  <ul class="list">
    <% @events.each do |event| %>
      <%= link_to event do %>
        <li>
          <div>
            <span class="bold block">
              <%= event.name %>
            </span>
            <span class="muted">
              <%= event.city %> — <%= event_length(event).html_safe %>
            </span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<% if current_user.admin? %>
  <h2>Grand Admin Station</h2>
  <ul class="list">
    <li><%= link_to 'All events', events_path %></li>
    <li><%= link_to 'New event', new_event_path %></li>
    <li><%= link_to 'All users', all_users_path %></li>
  </ul>
<% end %>
