<% title 'Sign in' %>
<% no_container %>

<main class="two-column">
  <div class="left-column">
    <div class="left--inside">
      <h1>Sign in to Dash</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { behavior: 'remember_email' }) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'current-password' %>
        </div>

        <div class="field flex items-center">
          <%= f.check_box :remember_me, style: 'margin-right: 0.25rem' %>
          <%= f.label :remember_me %>
        </div>

        <div class="actions">
          <%= f.submit 'Sign in', class: 'mb2' %>
        </div>
      <% end %>

      <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'muted mt2' %>
    </div>
  </div>
  <div class="right-column pattern">
  </div>
</main>