<% title "Editing field #{@attendee_field.name} on #{@event.name}" %>
<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %> › <%= link_to 'Fields', event_attendee_fields_path %>
</div>

<h1>
  <%= "#{@attendee_field.label} (#{@attendee_field.name})" %>
</h1>

<%= render 'form', attendee_field: @attendee_field, url: event_attendee_field_path(@event, @attendee_field) %>
