<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %>
</div>

<h1 class="heading">
  Fields
  <%= link_to 'Add a field', new_event_attendee_field_path, class: 'btn bg-success' %>
</h1>

<% if @event.attendee_fields.any? %>
  <%= form_tag do %>
    <% @event.attendee_fields.each do |field| %>
      <div class="a-lil-bottom-margin">
        <label class="field">
          <%= "#{field.label} (#{field.name})" %>
          <% if field.kind == 'text' %>
            <%= text_field_tag(nil) %>
          <% elsif field.kind == 'multiline' %>
            <%= text_area_tag(nil) %>
          <% end %>
        </label>
        <%= link_to 'Edit', edit_event_attendee_field_path(@event, field) %>
        <%= link_to 'Delete field', event_attendee_field_path(@event, field), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p class="muted no-margin">There are no fields.</p>
<% end %>
