<% title "Field #{@attendee_field.name} on #{@event.name}" %>
<div class="breadcrumbs">
  <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %> › <%= link_to 'Fields', event_attendee_fields_path %>
</div>

<h1 class="heading">
  <%= @attendee_field.label %>
  <%= link_to 'Edit', event_attendee_fields_path(@event), class: 'btn' %>
  <%= link_to 'Delete field', event_attendee_field_path(@event, @attendee_field), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-destroy' %>
</h1>

<div class="details">
  <p>
    <strong>Name</strong>
    <%= @attendee_field.name %>
  </p>
  <p>
    <strong>Type</strong>
    <%= @attendee_field.kind %>
  </p>
</div>

<% if @attendee_field.kind == 'multiselect' %>
  <h2 class="heading">Stats</h2>
  <% if @attendee_field.options.empty? %>
    <p class="muted">There are no options yet. <%= link_to 'Add some?', edit_event_attendee_field_path(@event, @attendee_field) %></p>
  <% else %>
    <ul class="list">
      <% @attendee_field.options.each do |option| %>
        <li>
          <%= @attendee_field.label %> “<%= option %>”: <%= @attendee_field.values.where(content: option).count %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h2 class="heading">Responses</h2>

<% if @attendee_field.values.empty? %>
  <p class="muted">There are no responses.</p>
<% else %>
<table class="mt2">
  <thead>
    <th>Name</th>
    <th>Value</th>
  </thead>
  <tbody>
    <% @attendee_field.values.each do |value| %>
      <tr>
        <td><%= link_to value.attendee.name, event_attendee_path(@event, value.attendee) %></td>
        <td><%= value.content %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
