<h1><%= t "devise.invitations.new.header" %></h1>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
  <p class="slate">This will invite a user to H&M. They will not be able to access any events.</p>

  <% resource.class.invite_key_fields.each do |field| -%>
    <p><%= f.label field %>
    <%= f.text_field field %></p>
  <% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>
