<% title "Editing hardware item #{@hardware.description} on #{@event.name}" %>
<div class="breadcrumbs">
  <%= link_to 'Home', root_path %> › <%= link_to 'Events', events_path %> › <%= link_to @event.name, @event %> › <%= link_to 'Hardware', event_hardwares_path %> › <%= link_to @hardware.description, event_hardware_path(@event, @hardware) %>
</div>

<h1>Editing Hardware Item</h1>

<%= render 'form', url: event_hardware_path(@event, @hardware), hardware: @hardware %>
