<% title "Hardware on #{@event.name}" %>
<div class="breadcrumbs">
 <%= link_to @event.name, @event %>
</div>

<h1 class="heading">
  Hardware items<span class="badge"><%= @hardwares.count %></span>
  <%= link_to 'Add a hardware item', new_event_hardware_path(@event), class: 'btn' %>
</h1>

<% if @hardwares.empty? %>
  <p class="muted">There are no hardware items.</p>
<% else %>
  <ul class="list list--row">
    <% @hardwares.each do |hardware| %>
      <%= link_to event_hardware_path(@event, hardware) do %>
        <li>
          <strong style="display: block;">
            <%= hardware.description %>
          </strong>
          <span class="muted">
            —<%= "#{hardware.available} available, #{hardware.quantity} total" %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
