<% title "Hardware item #{@hardware.description} on #{@event.name}" %>
<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Hardwares', event_hardwares_path %>
</div>

<h1 class="heading">
  <%= @hardware.description %>
  <%= link_to 'Edit', edit_event_hardware_path(@event, @hardware), class: 'btn bg-info' %>
  <%= link_to 'Delete', event_hardware_path(@event, @hardware), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--destroy' %>
</h1>

<article class="details">
  <p>
    <strong>Vendor</strong>
    <%= @hardware.vendor %>
  </p>

  <p>
    <strong>Model</strong>
    <%= @hardware.model %>
  </p>
</article>
