
<% if user_signed_in? %>
  <nav
    role="navigation"
    class="nav bg-blur"
    data-behavior="nav"
  >
    <%= link_to root_path, class: 'nav__tab nav__left' do %>
      <img src="/logo.png">
      <span>H&M</span>
    <% end %>
    <div class="nav__right flex items-center">
      <div class="dropdown">
        <div class="nav__tab dropdown__btn" data-behavior="dropdown_trigger" aria-expanded="false">
          <%= avatar_for(current_user, 48) %>
        </div>
        <ul class="dropdown__content">
          <li><%= link_to 'My account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>

<% flash.each do |key, value| %>
  <article role="alertdialog" class="flash bg-<%= key %> mx-auto mt2 w-100">
    <span class="flash__content">
      <%= value %>
    </span>
    <div class="flash__close" data-behavior="flash_close" role="button">X</div>
  </article>
<% end %>
