<% if user_signed_in? %>
  <nav
    role="navigation"
    class="nav"
    data-behavior="nav"
  >
    <div class="container flex justify-between items-center">
      <%= link_to root_path, class: 'nav__tab' do %>
        <img src="/logo.png">
        <span>Dash</span>
      <% end %>
      <div class="dropdown">
        <div class="nav__tab dropdown__btn" data-behavior="dropdown_trigger" aria-expanded="false">
          <%= avatar_for current_user, 36 %>
        </div>
        <ul class="dropdown__content">
          <li><%= link_to 'My account', edit_user_registration_path %></li>
          <% if current_user == true_user %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Stop impersonating', stop_impersonating_user_path, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<% end %>

<% flash.each do |key, value| %>
  <article role="alertdialog" class="flash bg-<%= key %> mx-auto mt2 w-100">
    <span class="flash__content">
      <%= value %>
    </span>
    <div class="flash__close" data-behavior="flash_close" role="button">X</div>
  </article>
<% end %>
